div.image-gallery {
  position: absolute;
  width: 100%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 700px) {
  div.image-gallery {
    position: relative;
  }
}