#dash-dir {
  text-align: center;
}
#dash-dir header {
  background-color: rgb(150, 231, 255);

  padding: 20px;
  text-align: center;
  color: white;
}
#dash-dir-nav ul {
  width: 95%;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}
#dash-dir-nav ul li {
  cursor: pointer;
  text-align: center;
  padding: 10px;
}
#dash-dir-nav ul li:hover {
  color: white;
  background-color: orange;
  border-radius: 25px;
}
#dash-dir-content {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
#dash-dir-content span {
  padding: 20px;
}
#dash-dir-content span h4 {
  margin: 2px;
}
#dash-dir-content span p {
  margin: 0;
}
@media only screen and (min-width: 700px) {
  #dash-dir header {
    margin-left: -35px;
  }
}
