.App {
  background-image: url("/images/calabash-bg.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 1100px;
}
.App-header {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.App-header img {
  width: 100px;
}

.welcome-content {
  position: fixed;
  margin-top: 30px;
  margin-left: 50px;
  width: 550px;
  color: white;
  font-size: 20px;
}
.App h2 {
  margin: 0;
}
