.App {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg-img {
  background-image: url("/images/calabash-bg.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  margin: 0;
}
.App-header {
  display: flex;
  flex-direction: column;
}
.App-header img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.welcome-content {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 10px;
  color: rgb(98, 0, 255);
  font-size: 20px;
  margin-top: 10px;
}
.welcome-content a {
  color: rgb(255, 136, 0);
  text-decoration: none;
}
.welcome-content a:hover {
  color: rgb(17, 0, 255);
}
.App h2 {
  margin: 0;
}

@media only screen and (min-width: 700px) {
  .bg-img {
    height: 820px;
  }
  .App-header img {
    width: 15%;
  }
  .welcome-content {
    position: fixed;
    margin-top: -250px;
    margin-left: 150px;
    text-align: left;
    width: 30%;
    color: white;
  }
  .welcome-content a {
    color: rgb(217, 255, 0);
  }
}
